@model IEnumerable<TallerFinal.Models.Proveedor> // trae los datos del models donde esta lo de la base de datos

@{
    ViewData["Title"] = "Index";
}

<link href="~/css/proveedorstyle/index.css" rel="stylesheet" />
<link href="~/css/cssglobal.css" rel="stylesheet" />

<div class="row mt-5"><h1 class="titulo">Proveedores</h1></div>
<div class="row">
    <div class="col-sm-6">
        <a class=" btn btn-success d-block" asp-action="Create" asp-controller="Proveedors" style=" width:100px; ">Agregar Proveedor</a>
        <br />
    </div>
</div>



<div class="tabla">
        <table class="table caption-top ">
            <caption>Lista de proveedores</caption>
            <thead>
                <tr>
                    
                    <th scope="col">Nombre</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">Dirección</th>
                    <th scope="col">Contacto</th>
                    <th scope="col">Inhabilitar</th>
                    <th scope="col">Editar</th>
                </tr>
            </thead>
            <tbody>
                 @foreach (var item in Model)
            {
                <tr>

                    <td>@item.Nombre</td>
                    <td>@item.Telefono</td>
                    <td>@item.Direccion</td>
                    <td>@item.Contacto</td>
                    <td>@if (item.Estado == "1"){
                            <img class="centrarIcono estado" src="~/img/light_switch on.svg" />
                        } else
                        {
                            <img class="centrarIcono estado" src="~/img/light_switch off.svg" />
                        }
                       
                    </td>
                    <td> <a asp-controller="Proveedors" asp-action="Edit" asp-route-id="@item.ProveedorId" class="btn btn-info">Editar</a></td>

                   
                </tr>
               }
            </tbody>
        </table>
    </div> 

