@model IEnumerable<TallerFinal.Models.Compra>

@{
    ViewData["Title"] = "Index";
}

<link href="~/css/proveedorstyle/index.css" rel="stylesheet" />
<link href="~/css/cssglobal.css" rel="stylesheet" />
<div class="row mt-5"><h1 class="titulo">Compras</h1></div>
<div class="row">
    <div class="col-sm-6">
        <a class=" btn btn-success d-block" asp-action="Create" asp-controller="Compras" style=" width:100px; ">Agregar Compra</a>
        <br />
    </div>
</div>

<div class="tabla">
    <table class="table caption-top ">
        <caption>Lista de Compras</caption>
        <thead>
            <tr>

                <th scope="col">Precio Total</th>
                <th scope="col">Fecha De Compra</th>
                <th scope="col">Estado</th>
                <th scope="col">Proveedor</th>
                <th scope="col">Inhabilitar</th>
                <th scope="col">Editar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>@item.PrecioTotal</td>
                    <td>@item.FechaCompra</td>
                    <td>@item.Estado</td>
                    <td>@item.Proveedor.Nombre</td>
                    <td>
                        @if (item.Estado == "1")
                        {
                            <img class="centrarIcono estado" src="~/img/light_switch on.svg" />
                        }
                        else
                        {
                            <img class="centrarIcono estado" src="~/img/light_switch off.svg" />
                        }

                    </td>
                    <td> <a asp-controller="Compras" asp-action="Edit" asp-route-id="@item.CompraId" class="btn btn-info">Editar</a></td>


                </tr>
            }
        </tbody>
    </table>
</div>
